<?xml version="1.0"?>
<config>
    <modules>
        <Mydons_Restrictguestcoupon>
            <version>0.1.0</version>
        </Mydons_Restrictguestcoupon>
    </modules>
    <global>
        <helpers>
            <restrictguestcoupon>
                <class>Mydons_Restrictguestcoupon_Helper</class>
            </restrictguestcoupon>
        </helpers>
        <events>            
            <salesrule_validator_process>
                <observers>
                    <guest_coupon_usage_limit_sales_rule>
                        <type>singleton</type>
                        <class>Mydons_Restrictguestcoupon_Model_Observer</class>
                        <method>limitGuestCouponUsage</method>
                    </guest_coupon_usage_limit_sales_rule>
                </observers>
            </salesrule_validator_process>
        </events>
	</global>
</config>